<!-- button -->
<div class="buttons-wrapper">
  <div class="buttons">
    <a href="/new" class="btn temp-button"><strong>NEW NOTE</strong></a>
    <% if (locals.canSave) { %>
    <button class="btn" type="submit">Se
      nd</button>
    <% } %>
  </div>
</div>
