<!-- button -->
<div class="buttons-wrapper">
  <div class="buttons">
    <a href="/new" class="btn">NEW</a>
    <% if (locals.canSave) { %>
    <button class="btn" type="submit">Send</button>
    <% } %>
  </div>
</div>
