<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/5.0.0/autosize.min.js"
      integrity="sha512-zibtOTbkMuTivXGk5b8yJFGLIB1jF90NuV7gwNcVWL3xZx/I1HdkXU2pCZhadsuaS5HMUzabvRqK4WmWeKrwUg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <title>Document</title>
  </head>

  <body>
    <form action="/save" method="POST">
      <div class="welcome-section">
        <div class="index-logo"></div>
        <h2 class="title-header">NOTESHARE</h2>
      </div>

      <div class="wrapper">
        <%- include("_buttons.ejs", { canSave: true }) %>
        <input
          type="number"
          name="customExpiry"
          class="customTimer"
          placeholder="Custom Expiry (minutes)"
          oninput="validateCustomExpiry(this)"
        />
        <div class="textarea-wrapper">
          <textarea autofocus name="value" class="textArea">
<%= locals.value %></textarea
          >
        </div>
      </div>
    </form>
    <script>
      autosize(document.querySelector(".textArea"));
      function validateTextarea(textarea) {
        // Limit the textarea to 800 words
        const maxWords = 800;
        const wordCount = textarea.value.split(/\s+/).length;
        if (wordCount > maxWords) {
          // Trim the excess words
          const words = textarea.value.split(/\s+/).slice(0, maxWords);
          textarea.value = words.join(" ");
        }
      }

      function validateForm() {
        const textarea = document.querySelector(".textArea");
        const wordCount = textarea.value.split(/\s+/).length;
        if (wordCount > 200) {
          alert("Exceeded maximum word limit (200 words).");
          return false;
        }
        return true;
      }

      function validateCustomExpiry(input) {
        // Ensure the input is a positive integer
        let value = parseInt(input.value, 10);
        if (isNaN(value) || value < 0) {
          input.value = ""; // Clear the input if it's not a valid number
        } else {
          // Limit the input to a maximum of two years (in minutes)
          const maxMinutes = 365 * 24 * 60;
          input.value = Math.min(value, maxMinutes);
        }
      }
    </script>
  </body>
</html>
