body {
 
    background: url("images/bg.svg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    /* Black background */
    margin: 0;
    color: #ffffff;
    /* White text */
    font-family: 'Courier New', monospace;
    /* Choose a monospace font for code display */
}
.shorten-url-body{
    background: url("images/bg.svg") no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
}
.url-c{
    background-color: #cf1010;
}

.wrapper {
    /* display: flex; */
    flex-direction: column;
    padding: 1rem 0.5rem;
    margin-top: 0;
    font-size: 1rem;
    color: #ffffff;
    align-self: center;
    text-align: center;
    /* align-items: center; */
    /* White text */
}
.index-wrapper{
    display: flex;
    /* display: flex; */
    flex-direction: column;
    padding: 1rem 0.5rem;
    margin-top: 0;
    font-size: 1rem;
    color: #ffffff;
    align-self: center;
    text-align: center;
}
.index-main-button{
    align-self: center;
    text-align: center;
    align-items: center;
    
}

.index-text{
    font-style:"font-family: 'Balsamiq Sans', cursive;";
    font-size: larger;
    color: rgb(255, 255, 255);
    text-shadow: .5px .5px   rgb(5, 5, 5);
    
}
.new-text{
    color: #1c7933;
}

.index-mid{
    align-self: center;
    text-align: center;
    align-items: center;
    width: 60%;
    font-weight: bold;
    
}
.shorten-url-mid{
    align-self: center;
    text-align: center;
    align-items: center;
    width: 60%;
    font-weight: bold;
    
}
.new-middle{
    align-self: center;
    text-align: center;
    align-items: center;
    width: 60%;
    font-weight: bold;

}

.code-display-text{
    text-align: left;
    align-items: left;
}
.textArea{
    display: inline-flex;
    background-color: #4d6948; 
    border-radius: 20px;
    width: 60%;
    height: 220px;
    border: 10px ;
    padding: 15px;
}
.count{
    font-style:"font-family: 'Balsamiq Sans', cursive;";
    font-size: larger;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: .5px .5px   rgb(5, 5, 5);
}
pre {
    margin: 0;
    background-color: #111111;
    /* Darker background for code display */
}
.code-display-mid{
    align-self: center;
    text-align: center;
    align-items: center;

}

.copy-btn {
    color: #ffffff !important;
    /* White text for the copy button */
 
    /* Darker background for the copy button */
    border: 1px solid #ffffff !important;
    /* margin-top: 10rem !important; */
}

.copy-btn:hover {
  
    /* Darker background on hover */
    color: #ffffff !important;
}

#code-display {
    padding-top: 0;
    padding-bottom: 0;
}

.line-numbers {
    font-family: 'Courier New', monospace;
    color: #aaaaaa;
    text-align: start;
    /* Align to the end to create a clearer separation */
    margin-right: 1rem;
    /* Add margin to the right */
    font-size: 20px;
    white-space: nowrap;
    /* Prevent line breaks for the line numbers */
}

textarea {
    background-color: #ffffff;
    /* Darker background for textarea */
    resize: none;
    width: 100%;
    padding: 0;
    margin-left: 1rem;
    /* color: #ffffff; */
  margin-top: 5px;
    border: none;
    outline: none;
    overflow: hidden;
   
}

.title-header{
    DISPLAY: INLINE-BLOCK;
    text-decoration: underline;
    font-family: 'Balsamiq Sans', cursive;
    font-size:200%;
    color: #79431c;
}

.welcome-section {
    text-align: center;
}

.commands-section {
    text-align: center;
}
.customTimer{
    align-self: center;
    display: inline-flex;
    align-items: center;
    width: 180px;
    margin-top: 5px;
    align-items: center;
    width: 180px;
}

.buttons-wrapper {
   
    /* position: fixed; */
    display: inline-block;
    /* width: 50px; */
    top: 0;
    right: 0;
    
    transition: opacity 200ms ease-in-out;
    /* background-color: #bb7d7d; */
    /* Dark background for the buttons wrapper */
   
}


.buttons-wrapper:hover {
    opacity: 1;
}

.index-logo{
   display: inline-block;
    background-image: url(../images/logo.png);
    width: 100px;
    height: 90px;
    
    
    /* background: url(); */
}
.logo {
    font-size: 2rem;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    /* White text */
    width: 100%;
    display: inline-block;
}

.logo:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    
    justify-content: center;
}

.buttons>*+* {
    margin-left: .25rem;
}

.btn {
    cursor: pointer;
    background: rgb(13, 107, 4);
    box-shadow: 1px 1px;
    border: 2px solid #ffffff;
    align-self: center;
    /* White border color */
    color: #ffffff;
    /* margin-top: 5%; */
    border-radius: .25rem;
    padding: 1.25rem 1.5rem;
    width: fit-content;
    /* Adjust the padding as needed for a smaller button */
    font-size: 1rem;
    /* Adjust the font size as needed */
    transition: background-color 200ms ease-in-out;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: #333333;
    /* Darker background on hover */
    color: #ffffff;
}

.shorten-url {
   opacity: 0.9; 
    transition: opacity 200ms ease-in-out;
    background-color: rgb(61, 136, 54);
    /* Dark background for the buttons wrapper */
    box-shadow: 3px 5px;
    padding: 1rem;
}

.shorten-url:hover {
    background-color: rgb(13, 107, 4);
    opacity: 1;
}